body {
    background-color: rgb(236, 236, 236);
}
.const {
}
h1 {
    text-align: center;
    font-family: Geneva;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
}
h2 {
    text-align: center;
    font-family: Geneva;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
}